.userItem{
    height: auto;
    padding: 2px;
    width: 90%;
    margin-top: 10px;
    border-radius: 1px;
    align-items:flex-start;
    background-color: #ebe9f1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: rgb(44, 15, 63);
    border-radius: 8px;
    transition: ease-in 0.2s;
}

.userItem:hover{
    background-color: #453968;
    color: #ddd;
    transition: ease-in 0.1s;
}

.userName{
    display: inline-block;
}